/* Force pre & code to consistently use the same font */
.markdown-body pre, .markdown-body pre code, pre, pre code,
pre input, pre textarea {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono",
                 Menlo, Courier, monospace;
    font-size: medium;
}
pre input, pre textarea {
    /* Line up with text surrounding text */
    margin-left: -5px;
}
.markdown-body pre textarea, pre textarea {
    resize: both;
}
